<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngularJS_11</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>
<style>
    table, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<div ng-app="ligaBasket01App" ng-controller="JugadorCtrl">
    <table>
        <tr>
            <td>Nombre</td>
            <td>Posicion</td>
        </tr>
        <tr ng-repeat="x in myData">
            <td ng-if="$odd" style="background-color: rgb(0,102,204)">{{x.nombreJugador}}</td>
            <td ng-if="$even">{{x.nombreJugador}}</td>
            <td ng-if="$odd" style="background-color: rgb(0,102,204)">{{x.posicion}}</td>
            <td ng-if="$even">{{x.posicion}}</td>
        </tr>
    </table>
</div>
<script>
    var app = angular.module('ligaBasket01App', []);
    app.controller('JugadorCtrl', function ($scope, $http) {
        $http.get("api/jugadors").then(function (response) {
            $scope.myData = response.data;
        });
    });
</script>
</body>
</html>
