<!DOCTYPE html>
<html lang="en">
<style>
    table, td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>AngularJS_14</title>
</head>
<body>
<div ng-app="ligaBasket01App" ng-controller="JugadorCtrl">

    <p>Clickar en la cabecera para ordenar la columna</p>


    <table border="5" width="75%">
        <thead>
        <tr>
            <th style="background-color: burlywood" ng-click="orderByMe('nombreJugador')">Jugador</th>
            <th style="background-color: burlywood" ng-click="orderByMe('posicion')">Posicion</th>
            <th style="background-color: burlywood" ng-click="orderByMe('numCanastas')">Canastas</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in myData | orderBy:myOrderBy">
            <td ng-if="$odd" style="background-color: #ffec34">{{x.nombreJugador}}</td>
            <td ng-if="$even">{{x.nombreJugador}}</td>
            <td ng-if="$odd" style="background-color: #ffec34">{{x.posicion}}</td>
            <td ng-if="$even">{{x.posicion}}</td>
            <td ng-if="$odd" style="background-color: #ffec34">{{x.numCanastas}}</td>
            <td ng-if="$even">{{x.numCanastas}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script>
    var app = angular.module('ligaBasket01App', []);
    app.controller('JugadorCtrl', function ($scope, $http) {
        $http.get("api/jugadors").then(function (response) {
            $scope.myData = response.data;
        });
        $scope.orderByMe = function(x) {
            $scope.myOrderBy = x;
        }
    });
</script>
</body>
</html>
